@theme {
  --color-brand: #6366f1;
  --color-brand-light: #a5b4fc;
  --color-brand-dark: #4f46e5;

  --color-paper-light: #f5f4f0;
  --color-paper: #e4d6c7;
  --color-paper-dark: #262116;
  --color-grey: #eaeaeaff;
}
